/*@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700);*/

html {
    margin: 0px;
    padding: 0px;
    font-family: 'Source Sans Pro', sans-serif;
    box-sizing: border-box
}

*,
*:before,
*:after {
    box-sizing: inherit
}

.cf:before,
.cf:after {
    content: " ";
    display: table
}

.cf:after {
    clear: both
}

.cf {
    *zoom: 1
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Source Sans Pro', sans-serif
}

.smobitrigger:hover {
    color: white;
}

.smobitrigger,
.mnuclose {
    display: none
}

header {
    background: rgb(137, 102, 51);
}

.logo {
    float: left
}

.navigation {
    float: right
}

.mobimenu {
    display: none;
    font-family: 'Cinzel', serif;
    font-size: 12px;
}

.navigation nav ul {
    padding: 0px;
    margin: 0px;
    list-style: none
}

.navigation nav ul li {
    display: inline-block;
    padding: 4px;
     border: 0.1px solid transparent gray !important;
       z-index: 3;
       box-shadow: 10px;
       margin-top: 6px;
}

.navigation nav ul li a {
    color: #fff;
    font-weight: 600;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 20px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s
}

.navigation nav ul li a:hover {
    background: rgb(234, 214, 54);
    color: #441B0A
}

@media all and (max-width:768px) {
    .smobitrigger,
    .mnuclose {
        display: inline-block
    }
    .smobitrigger {
       color: #fff;
    font-size: 28px;
    line-height: 12px;
    padding: 3px 7px;
    }
    .mnuclose {
        font-size: 20px;
        padding: 10px 20px;
        width: 100%;
        background: rgba(0, 0, 0, 0.15);
    }
    .smobitrigger span,
    .mnuclose span {
        font: 0/0 a;
        text-shadow: none;
        color: transparent
    }
    .navigation nav ul {
        padding-bottom: 40px;
        /*  overflow-y: auto*/
    }
      
    .navigation nav ul li,
    .navigation nav ul li a {
        width: 100%
    }
    .navigation nav ul li a {
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: rgb(100,59,15);
        
    }
    .navigation nav ul li a:hover {
        background: rgba(0, 0, 0, 0.29)
    }
  
    .mobimenu {
        display: block;
        position: fixed;
        list-style: none;
        padding: 20px;
        margin: 0px;
        width: 210px;
        position: fixed;
        height: 100%;
        top: 0px;
        right: -250px
    }
    .mnuopn {
        right: 0px!important
    }
    .ovrActv {
        position: fixed;
        background: rgba(0, 0, 0, 0.79);
        width: 100%;
        height: 100%;
        z-index: 9998;
        transition: 0.5s;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s
    }
    .navigation nav ul li .comesup {
        display: none;
        z-index: 1000;
        transition: 0.5s;
        padding-bottom: 4px !important;
        padding-left: 46px;
        color: white;
    }
    .navigation nav ul li .comesup li {
        color: white;
        font-size: 12px;
        
    }
    .navigation nav ul li .comesup li a {
        font-size: 11px;
        font-weight: normal;
    }
    .navigation nav ul li .comesup li i {
        padding-right: 4px;
    }
    /* .navigation nav ul li:hover .comesup {
     display: block !important;
     z-index: 1000;
     transition: 0.5s;
     opacity: 1;
 }
 
 .navigation nav ul li:focus .comesup {
     visibility: hidden;
 }*/
}